*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin: 10px;
}



img{
    max-width: 30%;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 30px;
}

.btn{
    border-radius: 10px;
    text-decoration: none;
    list-style-type: none;
}

.navbar{
    
    margin-inline-start: 10px;
}



nav li {
    
    display: inline;
}